<?xml version="1.0"?>
<config>
    <modules>
        <CommerceShop_Giftcard>
            <version>0.1.0</version>
        </CommerceShop_Giftcard>
    </modules>    
    <frontend>
        <routers>
            <csgiftcard>
                <use>standard</use>
                <args>
                    <module>CommerceShop_Giftcard</module>
                    <frontName>csgiftcard</frontName>
                </args>
            </csgiftcard>
        </routers>
        <layout>
            <updates>
                <csgiftcard>
                    <file>csgiftcard.xml</file>
                </csgiftcard>
            </updates>
        </layout>
    </frontend>

    <global>        
    <helpers>
            <csgiftcard>
                <class>CommerceShop_Giftcard_Helper</class>
            </csgiftcard>
    </helpers>
    <blocks>
            <csgiftcard>
                <class>CommerceShop_Giftcard_Block</class>
            </csgiftcard>
    </blocks> 
     <models>
            <csgiftcard>
                <class>CommerceShop_Giftcard_Model</class>               
            </csgiftcard>
     </models>     
     <resources>
            <csgiftcard_setup>
                <setup>
                    <module>CommerceShop_Giftcard</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </csgiftcard_setup>
        </resources>      
        <catalog>
            <product>
                <type>
                    <csgiftcard translate="label" module="catalog">
                        <label>CS Giftcard</label>
                        <model>csgiftcard/product_type_gift</model>
                        <price_model>csgiftcard/product_price</price_model>                        
                        <is_qty>1</is_qty>      
                    </csgiftcard>
                </type>
			</product>        
        </catalog>
	</global>    
</config>
