<?xml version="1.0"?>
<config>
    <modules>
        <CommerceShop_Giftcard>
            <version>0.2.0</version>
        </CommerceShop_Giftcard>
    </modules>    
    <frontend>
        <routers>
            <csgiftcard>
                <use>standard</use>
                <args>
                    <module>CommerceShop_Giftcard</module>
                    <frontName>csgiftcard</frontName>
                </args>
            </csgiftcard>
        </routers>
        <layout>
            <updates>
                <csgiftcard>
                    <file>csgiftcard.xml</file>
                </csgiftcard>
            </updates>
        </layout>
    </frontend>

    <global>        
    <helpers>
            <csgiftcard>
                <class>CommerceShop_Giftcard_Helper</class>
            </csgiftcard>
    </helpers>
    <blocks>
            <csgiftcard>
                <class>CommerceShop_Giftcard_Block</class>
            </csgiftcard>
    </blocks> 
     <models>
            <csgiftcard>
                <class>CommerceShop_Giftcard_Model</class>               
            </csgiftcard>
     </models>    
    <events>
      <sales_order_place_after>
        <observers>
          <giftcard_purchase_mail>
            <type>singleton</type>
            <class>csgiftcard/observer</class>
            <method>sendGiftCardPurchaseMail</method>
          </giftcard_purchase_mail>
        </observers>
      </sales_order_place_after>
    </events>


     <resources>
            <csgiftcard_setup>
                <setup>
                    <module>CommerceShop_Giftcard</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </csgiftcard_setup>
    </resources> 
   
     <template>
            <email>
                <csgiftcard_purchase_email_template translate="label" module="csgiftcard">
                    <label>Giftcard Purchase</label>
                    <file>cs_giftcard_purchase_new.html</file>
                    <type>html</type>
                </csgiftcard_purchase_email_template>

                 <csgiftcard_recipient_email_template translate="label" module="csgiftcard">
                    <label>Giftcard Recipient</label>
                    <file>cs_giftcard_recipient.html</file>
                    <type>html</type>
                </csgiftcard_recipient_email_template>
            </email>
    </template>



        <catalog>
            <product>
                <type>
                    <csgiftcard translate="label" module="catalog">
                        <label>CS Giftcard</label>
                        <model>csgiftcard/product_type_gift</model>
                        <price_model>csgiftcard/product_price</price_model>                        
                        <is_qty>1</is_qty>      
                    </csgiftcard>
                </type>
			</product>        
        </catalog>

        <sales>
            <quote>
                <totals>
                    <cs_gift_card_total>
                        <class>csgiftcard/sales_quote_total_giftcard</class>
                        <after>discount,tax</after>
                        <before>grand_total</before>
                    </cs_gift_card_total>
                </totals>
            </quote>
        </sales>

	</global>    
</config>
